
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lota Grotesque Alt 1", sans-serif; 
    font-size: 1em;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color:  #000000;
}

@media (min-width: 64em) {
  body {
    font-size: 1.2em;
    line-height: 1.8;
  }
}
@media (min-width: 85.375em) {
  body {
    font-size: 1.4em;
  }
}
@media (min-width: 120em) {
  body {
    font-size: 1.8em;
  }
}
@media (min-width: 160em) {
  body {
    font-size: 2em;
  }
}
@media only screen and (max-width: 48em) {
  body {
    font-size: 0.8em;
  }
}